@import 'colors';

html, body, #root {
  height: 100%;
  margin: 0;
  user-select: none;
  overflow: hidden;
  
  * {
    box-sizing: border-box;
  }

  *:focus {
    outline: none;
  }
}

.App {
  height: 100%;
  position: relative;
  background-color: $white;
  color: $black;
  font-family: 'Open Sans';

  .title {
    position: absolute;
    padding: .25em;
    font-size: 2em;
    opacity: .5;
    font-family: 'Merriweather', 'serif';

    .logo {
      height: 1.2em;
      width: 1.2em;
      background-image: url('../assets/logo.png');
      display: inline-block;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .info {
    position: absolute;
    right: 0;
    border: none;
  }
  .toolbar {
    position: absolute;
    top: 4em;
    padding: .5em;
    display: flex;
    flex-direction: column;
  }
  .tables {
    height: 100%;
  }

  button {
    border: .5px solid hsla(0, 0%, 0%, 0.25);
    border-radius: 2px;
    background-color: hsl(0, 0%, 90%);
    opacity: .75;
    font-family: 'Open Sans';
    &:hover {
      background-color: hsl(0, 0%, 85%);
    }
  }

  a {
    text-decoration: none;
    color: $red;
    &:hover {
      color: darken($red, 10%);
    }
  }

  .icon {
    width: 1.75em;
    height: 1.75em;
    margin: .1em;
    background-size: 1.25em 1.25em;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

    &.add {
      background-image: url("../assets/add.png");
    }
    &.download {
      background-image: url("../assets/download.png");
    }
    &.undo {
      background-image: url("../assets/undo.png");
    }
    &.redo {
      background-image: url("../assets/redo.png");
    }
    &.check {
      background-image: url("../assets/check.png");
    }
    &.delete {
      background-image: url("../assets/delete.png");
      background-size: 1em 1em;
    }
    &.edit {
      background-image: url("../assets/edit.png");
    }
    &.move {
      background-image: url("../assets/move.png");
    }
    &.info {
      background-image: url("../assets/info.png");
    }
  }
}