Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 80;
        server_name localhost;

        return 301 https://$host$request_uri;
      }
      
      server {
        listen 443;
        server_name localhost;
        
        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;
        
        ssl_session_timeout 5m;
        
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        
        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
          
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }

        location /live/ {
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header Host $host;

          proxy_pass http://docker;
          proxy_http_version 1.1;

          proxy_set_header Upgrade $http_upgrade;
          proxy_set_header Connection "upgrade";
        }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFSzCCBDOgAwIBAgISBHHfId8Y9zrRkdQ3gurBVTQkMA0GCSqGSIb3DQEBCwUA
      MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
      ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0yMDA3MDMwMzA2MTNaFw0y
      MDEwMDEwMzA2MTNaMBUxEzARBgNVBAMTCnNjaGVtdS5uZXQwggEiMA0GCSqGSIb3
      DQEBAQUAA4IBDwAwggEKAoIBAQDNVaRQ8AzBvWgl+P6ofSIi5bsShtLoWKz60Pm1
      0x91FfiP55SGZKAv52Bh2sUpmpA6eLVHyIUSSmLMyaVC6uKLMCqYElL1QGuV27pJ
      7PNjjVrPdQ/P2ZfmhxynQqdZuwk7EpdA/jjOqw3nGZIg8CR9ezeR9HfdssI81Hic
      XPMkEvATRWVGhCYsDdQ+vVZx7j2iL8X2Zp8kLwCvKbM40LLfs716T97TVJ8HBy1I
      yq0Q461dTLAgo1EWbwOVC2MRb1zlBAU20H15rOobGhG9LAER270WPZ7ppjvgZpOt
      agyz5cYPv8ayQsiqSP0uFC7zdEFq2GZzQvkR+ktqff2Hmlo9AgMBAAGjggJeMIIC
      WjAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMC
      MAwGA1UdEwEB/wQCMAAwHQYDVR0OBBYEFGxZc7lXmAiZeF9dOSflu7Zba3n4MB8G
      A1UdIwQYMBaAFKhKamMEfd265tE5t6ZFZe/zqOyhMG8GCCsGAQUFBwEBBGMwYTAu
      BggrBgEFBQcwAYYiaHR0cDovL29jc3AuaW50LXgzLmxldHNlbmNyeXB0Lm9yZzAv
      BggrBgEFBQcwAoYjaHR0cDovL2NlcnQuaW50LXgzLmxldHNlbmNyeXB0Lm9yZy8w
      FQYDVR0RBA4wDIIKc2NoZW11Lm5ldDBMBgNVHSAERTBDMAgGBmeBDAECATA3Bgsr
      BgEEAYLfEwEBATAoMCYGCCsGAQUFBwIBFhpodHRwOi8vY3BzLmxldHNlbmNyeXB0
      Lm9yZzCCAQMGCisGAQQB1nkCBAIEgfQEgfEA7wB1APCVpFnyANGCQBAtL5OIjq1L
      /h1H45nh0DSmsKiqjrJzAAABcxLadcIAAAQDAEYwRAIgOyUOTdlrSpcsr9uYMMXw
      EIuqnzXIhl9Kbbm2/RYZnaECIGkj1Lk82CpFWzVs24vvZq5FEf1Ephjjm8OI9pD0
      whuQAHYAB7dcG+V9aP/xsMYdIxXHuuZXfFeUt2ruvGE6GmnTohwAAAFzEtp14QAA
      BAMARzBFAiBZ/5qN1r4u3QDy8mdIFI9Ax4qFMemC6/lOL64ia+my9wIhAMQuTg/W
      nTaYQJlODTlMs3/dgVc+PKVYJA/0RUQrykzYMA0GCSqGSIb3DQEBCwUAA4IBAQBw
      DNHZgsMi1j1j72dnmjwsF7bph95civ9YI15/Kyuf1qUKY8CNbAnpTBZsVKU+cUO4
      /bTq1QyqRAnWbnn7/nEdX/FozpxJ4tSQRydDAzy/ymYehTk7qTUnZ5NUVWfKnJmn
      x5SEmV4T7MjXA7GIR4E1KbAw3SaT7hd+X+EMUhukZGda92N+PNOI5qzZQbxubMTH
      sVuxokQKvfVPf8Fsn6mRWb7L17x+AgE2kIT54pZXjk7De8R+L/Faabi8LhhjhPue
      g+xUMSJVtur0B4rI/YX/MyGe/R7BZXPReWjWYR59ImOaSCv3XIv4taIAscjxqF/t
      MsptCXpg7Jgc+H4sAAPH
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIEkjCCA3qgAwIBAgIQCgFBQgAAAVOFc2oLheynCDANBgkqhkiG9w0BAQsFADA/
      MSQwIgYDVQQKExtEaWdpdGFsIFNpZ25hdHVyZSBUcnVzdCBDby4xFzAVBgNVBAMT
      DkRTVCBSb290IENBIFgzMB4XDTE2MDMxNzE2NDA0NloXDTIxMDMxNzE2NDA0Nlow
      SjELMAkGA1UEBhMCVVMxFjAUBgNVBAoTDUxldCdzIEVuY3J5cHQxIzAhBgNVBAMT
      GkxldCdzIEVuY3J5cHQgQXV0aG9yaXR5IFgzMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEAnNMM8FrlLke3cl03g7NoYzDq1zUmGSXhvb418XCSL7e4S0EF
      q6meNQhY7LEqxGiHC6PjdeTm86dicbp5gWAf15Gan/PQeGdxyGkOlZHP/uaZ6WA8
      SMx+yk13EiSdRxta67nsHjcAHJyse6cF6s5K671B5TaYucv9bTyWaN8jKkKQDIZ0
      Z8h/pZq4UmEUEz9l6YKHy9v6Dlb2honzhT+Xhq+w3Brvaw2VFn3EK6BlspkENnWA
      a6xK8xuQSXgvopZPKiAlKQTGdMDQMc2PMTiVFrqoM7hD8bEfwzB/onkxEz0tNvjj
      /PIzark5McWvxI0NHWQWM6r6hCm21AvA2H3DkwIDAQABo4IBfTCCAXkwEgYDVR0T
      AQH/BAgwBgEB/wIBADAOBgNVHQ8BAf8EBAMCAYYwfwYIKwYBBQUHAQEEczBxMDIG
      CCsGAQUFBzABhiZodHRwOi8vaXNyZy50cnVzdGlkLm9jc3AuaWRlbnRydXN0LmNv
      bTA7BggrBgEFBQcwAoYvaHR0cDovL2FwcHMuaWRlbnRydXN0LmNvbS9yb290cy9k
      c3Ryb290Y2F4My5wN2MwHwYDVR0jBBgwFoAUxKexpHsscfrb4UuQdf/EFWCFiRAw
      VAYDVR0gBE0wSzAIBgZngQwBAgEwPwYLKwYBBAGC3xMBAQEwMDAuBggrBgEFBQcC
      ARYiaHR0cDovL2Nwcy5yb290LXgxLmxldHNlbmNyeXB0Lm9yZzA8BgNVHR8ENTAz
      MDGgL6AthitodHRwOi8vY3JsLmlkZW50cnVzdC5jb20vRFNUUk9PVENBWDNDUkwu
      Y3JsMB0GA1UdDgQWBBSoSmpjBH3duubRObemRWXv86jsoTANBgkqhkiG9w0BAQsF
      AAOCAQEA3TPXEfNjWDjdGBX7CVW+dla5cEilaUcne8IkCJLxWh9KEik3JHRRHGJo
      uM2VcGfl96S8TihRzZvoroed6ti6WqEBmtzw3Wodatg+VyOeph4EYpr/1wXKtx8/
      wApIvJSwtmVi4MFU5aMqrSDE6ea73Mj2tcMyo5jMd6jmeWUHK8so/joWUoHOUgwu
      X4Po1QYz+3dszkDqMp4fklxBwXRsW10KXzPMTZ+sOPAveyxindmjkW8lGy+QsRlG
      PfZ+G6Z6h7mjem0Y+iWlkYcV4PIWL1iwBi8saCbGS5jN2p8M+X+Q7UNKEkROb3N6
      KOqkqm57TH2H3eDJAkSnh6/DNFu0Qg==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDNVaRQ8AzBvWgl
      +P6ofSIi5bsShtLoWKz60Pm10x91FfiP55SGZKAv52Bh2sUpmpA6eLVHyIUSSmLM
      yaVC6uKLMCqYElL1QGuV27pJ7PNjjVrPdQ/P2ZfmhxynQqdZuwk7EpdA/jjOqw3n
      GZIg8CR9ezeR9HfdssI81HicXPMkEvATRWVGhCYsDdQ+vVZx7j2iL8X2Zp8kLwCv
      KbM40LLfs716T97TVJ8HBy1Iyq0Q461dTLAgo1EWbwOVC2MRb1zlBAU20H15rOob
      GhG9LAER270WPZ7ppjvgZpOtagyz5cYPv8ayQsiqSP0uFC7zdEFq2GZzQvkR+ktq
      ff2Hmlo9AgMBAAECggEAWI6sLIArcE9pIJ9v7WjylQxxjz74rV65U/9XAzVH5u6P
      4jillQTHFYH7zphU2mmf9Kfkv03bHpVYYSxCi0bUZ+VhKW8VulKLU/mNMZ7xJals
      VfcN173nxnPVRsn3dTq2c3TEKTK7e17IwzgDDxOjGT9QKzG9lK8pGKUmU4G/F3oQ
      0MBoTQtP7IHmQJee7QlbsHD2xXGu5FdVjLbqTo/JAaq2ToeLb6Bvg0bG7CddnnFL
      mxcCKhJPEQ6r/l++EcuYd8y8tR33B4i00SxyEzBWddIh10Y2UyjdpFnvrw/xgBH5
      z8eU+0HfyfGg/o3XVr2kWxQhAFsaDv9MGYU4IuzHXQKBgQD7xdDWtlOxnpJosDWe
      l1F7G8mZ5LU8K6ngHBVOnVOcBpakqthinjxyQfGIrIUYdmSO8LS+FH83hYE81SAV
      6dh6W3hdYE/x0ZfkJ5fwRZsswkix2UfVk0T1Bfby5BtCYFYfchVF+LkxDntyVkds
      1vNXdCBgy5mOGqPBNAg2NGkh3wKBgQDQyDkIbEWtK6OzDKJCjIvaSJ+eoRAz5o7D
      2NxWktREowuLXzkU8gcJmoW9zIjgh/5ctOZxACd1dN9Ggl6Fs9nsZ+7BFNq8NRYG
      gTkVKWYeenINQ2PjgAgznSsXpvm9HKcHRE4DdPnrHffikZl1p58SxMhOXHpA6bjR
      aZylWa/fYwKBgQDXo0bKD2FBeOJG/dz+1vV3roYN4+ACCBe4FfV93qvUr6Pop1cr
      qAF3jtlTSQe5uvVHpAv53U5UfGkDdDrF6gJ6UcuWlj4CjJQ+Wlb8+HD+deyTPtkS
      qM7f2Vr4D7z1LdO1nR1xT6U1ygSbGiCUrMnAtnpgzSDYoCJvAKSj4GHHGwKBgE1d
      dGzfmi4iVqW5j8LzS7uWX7erXVKuI8cE7BkUjZ3lgRijL4bIbL0tSlPbn/j7y9DU
      o/PJp9WJelcpZhdLXvyQQtO/g5JsZX4BkoJ59cJjgzHRAAnEXsWpftdj43UlUeuK
      bxIu3ZE3aKzHYUNM2tBcpREMiazWLstCxG4tPtObAoGBAJnylJ5PHfc9HKa4UB20
      eaEurM1ExHk+3uzpNbTniW6XhFt9IjiyGPE6kAePlpTXcz1x/eO/TJMI8dzMzeVj
      lxzG3Rqors7Rw3SxSRcqDoCXZixmpTPqxL1hFuYo1t35Q/MXQkb38C827BQWiV0Y
      REuREzcV5HLcbdIfa6SGsaf0
      -----END RSA PRIVATE KEY-----