html {
  background: url("./Shape-White-Abstract-Wallpaper-28547.jpg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html,
body,
#root {
  height: 100%;
  margin: 0px;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tables {
  flex-grow: 1;
}
#tables {
  background-color: rgb(61, 82, 102);
  opacity: 0.9;
  padding: 10px 50px 10px 10px;
  border-radius: 5px;
  box-shadow: 8px 8px 8px black;
  font-size: x-large;
  color: whitesmoke;
}

#tables > button {
  font-size: 1.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

// TABLE AND FIELD ROWS:
.row {
  width: 25vw;
  display: grid;
  grid-template-columns: 12.8% 12.8% 12.8% 12.8% 12.8% 2.5% 2.5% 2.5% 12.8% 12.8% 2.5%;
  gap: 2px;
}

.column-header {
  font-size: 0.7rem;
  overflow-wrap: break-word;
}
