html {
  background: url("./Shape-White-Abstract-Wallpaper-28547.jpg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html,
body,
#root {
  height: 100%;
  margin: 0px;
}
.title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-size: 3em;
  text-shadow: 2px 3px 5px black;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.toolbar{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.toolbar>button{
  color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: large;
  background-color: rgb(61, 82, 102);
width: 120px;
height: 50px;
margin: 8px 5px 10px 8px;
border-radius: 8px;
box-shadow: 2px 3px 10px black;
text-shadow:2px 2px 4px black;
cursor: pointer;
border: 3px outset slategray;
transition: border-width 0.25s ease;
}
.toolbar>button:hover{
  border-width: 7px;
  background-color: lighten($color: rgb(61, 82, 102) , $amount: 7);
}

.tables {
  flex-grow: 1;
}
#tables {
  background-color: rgb(61, 82, 102);
  opacity: 0.9;
  padding: 3px 0px 8px 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 4px rgb(39, 39, 39);
  font-size: 2em;
  color: whitesmoke;
  text-shadow: 3px 3px 8px black;
  border: 6px outset;
  border-color: rgb(79, 88, 95);
}

#removetable{
  background-color: rgb(131, 81, 81);
  outline-color: rgb(131, 81, 81);
  font-size: .84rem;
  color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 1px 3px black;
border-radius: 5px;
margin-left: 30px;
box-shadow: 2px 3px 8px black;
border-color: slategray;
transition: all 0.2s linear;
}
#removetable:hover{
  border-color: rgb(131, 81, 81);
  box-shadow: 0px 0px 2px 2px rgb(131, 81, 81);
}

#addtable{
  background-color: rgb(103, 168, 114);
  transition: .2s ease;
}
#addtable:hover{
  border-color:rgb(103, 168, 114);
}

.RemoveField{
  width: 25px;
  background-color: rgb(79, 90, 100);
  border-radius: 5px;
  color: whitesmoke;
  border-color: slategray;
  text-shadow: 2px 1px 4px black;
  box-shadow: 2px 2px 4px black;
  outline:0px solid rgb(150, 162, 172);
  transition: all 0.22s ease;
  
}

.RemoveField:hover{ 
  
  box-shadow: 0px 0px 2px 2px rgb(150, 162, 172);
  background-color: rgb(131, 81, 81);
}


.fieldButtons {
  font-size: .84rem;
  color: whitesmoke;
  background-color: rgb(79, 90, 100);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 1px 3px black;
border-radius: 5px;
margin-left: 20px;
box-shadow: 2px 2px 5px black;
border-color: slategray;
transition: all 0.25s linear;
border: 3px rgb(79, 90, 100) outset;
}
#tables > button:hover{
  opacity: 1;
  box-shadow: 0px 0px 3px 3px rgb(120, 129, 136);
  border-width: 5px;
}

#tables>input{
  border-color: rgba(61, 82, 102, 0);
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-size: .65em;
  background-color: rgba(61, 82, 102, 0);
  outline: 3px solid rgb(150,162,172);
  text-shadow: 2px 1px 3px black;
  margin: 3px 3px 6px 3px;
}
// TABLE AND FIELD ROWS:
.row {
  width: 38vw;
  display: grid;
  grid-template-columns: 2.5% 12.8% 12.8% 12.8% 12.8% 12.8% 2.5% 2.5% 2.5% 12.8% 4% 2.5% 2.5%;
  gap: 2px;
  margin: 4px 4px 4px;
}

.column-header {
  font-size: 15px;
  overflow-wrap: break-word;
  text-align: center;
}

.inputs{ 
  border-radius: 5px;
  background-color: whitesmoke;
}

.handle {
  background-color: blue;
}

.row-container {
  display: flex;
}

.removeTable{
  background-color: rgb(131, 81, 81);
  outline-color: rgb(131, 81, 81);
}
.removetable:hover{
outline: 3px solid rgb(150,162,172);
  box-shadow: 0px 0px 2px 2px rgb(150, 162, 172);
}

.handle{
  border-radius: 6px;
  margin: 5px 8px 5px 5px;
  background-color:  slategray;
  transition: all .2s ease;
}
.handle:hover{
background-color: springgreen;
box-shadow:0px 0px 0px 3px springgreen;
}